.body {
  margin: 40px auto;
  max-width: 480px;
  border: solid thistle;
  border-radius: 0.2rem;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0;
  -webkit-box-shadow: 8px 9px 17px -6px #545454;
  box-shadow: 8px 9px 17px -6px #545454;
}

h1,
h3 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  border: solid rgb(138, 136, 136);
}

.complete {
  color: #c4c4c4;
}

.btn {
  background-color: rgb(126, 120, 120);
  border: none;

  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-complete {
  background-color: #c4c4c4;
  color: white;
}

.btn-success {
  background-color: rgb(92, 167, 117);
  margin-left: 1px;
}
